{
    "extends": "defaults/configurations/eslint",
    "parser": "babel-eslint",
    "plugins": [
    ],
    "rules":{
        "eqeqeq": 0,
        "no-unused-vars": [2, {"vars": "all", "args":"none"}],
        "indent": [2,4],
        "quotes": 0,
        "linebreak-style": [2,"unix"],
        "strict": 0,
        "no-console": 0,
        // allow one line ifs
        "curly": 0,
        "eol-last": 0,
        "new-cap": 0,
        // Warn about todo comments so they don't get forgotten
        no-warning-comments: 1,
        // warnings that should really be errors but would require more complex code fixes
        "no-extend-native": 1,
        "no-labels": 1
    },
    "globals": {
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
    },
    "ecmafeatures": {
        "modules": true
    }
}
